; php options

pid = /var/run/hhvm/pid

; hhvm specific

hhvm.server.file_socket=/var/run/hhvm/hhvm.sock
hhvm.server.type = fastcgi
hhvm.server.user = www-data
hhvm.mode = deamon
hhvm.server.default_document = index.php
hhvm.log.use_log_file = true
hhvm.log.file = /var/log/hhvm/error.log
hhvm.log.level = Verbose
hhvm.repo.authoritative = true
hhvm.repo.central.path = /var/run/hhvm/hhvm.hhbc
hhvm.php7.all = true
hhvm.server.user = www-data

;hhvm.server.port = 9000
hhvm.enable_zend_compat = true

hhvm.admin_server.port = 9001
hhvm.admin_server.password = 1aJ3Jx1xw266Tg72Uy

;hhvm.server.type = proxygen
;hhvm.server.default_document = index.php
; default is the current directory where you launched the HHVM binary
;hhvm.server.source_root=/var/www/html/
;hhvm.server.enable_ssl = true
